<h1>Join us</h1>
<form action="/users/register" method="post">
  <input type="text" name="name" placeholder="Enter your name" />
  <input type="email" name="email" placeholder="Enter your email" />
  <input type="password" name="password" placeholder="Enter your password">
  <input type="submit" value="Register">
</form>