<h1>Register to Join Us to create ShortUrls</h1>
<form action="/users/register" method="post" class="my-4 form-inline">
  <input type="text" name="name" placeholder="Enter your name" />
  <input type="email" name="email" placeholder="Enter your email" />
  <input type="password" name="password" placeholder="Enter your password">
  <button type="submit">Register</button> 
</form>