<h1>Create a new Short URL</h1>
<form action="/urls/create" method="POST" class="my-4 form-inline">
  <input type="text" name="longurl" required placeholder="long url" />
  
  <button type="submit">Create ShortUrl</button> 
</form>
